@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 170px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
  transform: rotateX(0);
}

.menu .menu-item {
  /* display: block; */
  padding: 8px 10px;
  font-size: 0.875rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.menu .menu-item:nth-child(odd) {
  background: #39a595;
}

.menu .menu-item:nth-child(even) {
  background: #4fcdbb;
}

.menu .menu-item:hover {
  background: #00ffe1;
  color: #1b1a1a;
}

/* Shapes style */
.trapezoid {
	border-bottom: 100px solid rgb(119, 207, 116);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid rgb(119, 207, 116);
}

.circle {
	width: 100px;
	height: 100px;
	background: rgb(119, 207, 116);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.square {
	width: 100px;
	height: 100px;
	background: rgb(119, 207, 116);
}

.rectangle {
	width: 200px;
	height: 100px;
	background:rgb(119, 207, 116);
}

/* timer */
#timer-count {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
